<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="author" content="Frederick Hornsey">
<meta name="description" content="Blog about my experience with programming">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="/static/style.css" />
<link rel="stylesheet" type="text/css" href="/static/code.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
{% block extra_css %}{% endblock %}</head>
<body>
<header>
    <a href="/"><h1>iguessthislldo</h1></a>
    <a href="/posts">Posts</a>
    <a href="/tags">Tags</a>
    <a href="/about_me">About me</a>
</header>
{% block content %}
{% endblock %}
<hr>
<footer>&copy; Copyright 2016 Frederick Hornsey &lt;<a href="mailto:fred@hornsey.us">fred@hornsey.us</a>&gt;</footer>
<script>
new Clipboard('.code-copy-btn', {
    text: function(trigger) {
        return $(trigger.nextElementSibling.nextElementSibling).text();
    }
});
</script>
<script id="dsq-count-scr" src="//iguessthislldo.disqus.com/count.js" async></script>
</body>
</html>
