<div class="page_control">
    <span>
    {% if items.has_previous %}
        <a href="?page={{ posts.previous_page_number }}">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </a>
    {% else %}
        <i class="fa fa-arrow-left grey" aria-hidden="true"></i> 
    {% endif %}

    page {{ items.number }}/{{ items.paginator.num_pages }}

    {% if items.has_next %}
        <a href="?page={{ posts.previous_page_number }}">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </a>
    {% else %}
        <i class="fa fa-arrow-right grey" aria-hidden="true"></i> 
    {% endif %}
    </span>
</div>
